body{ 
	background-image:url(../images/ruler.jpg);
}
.logo{
	background-image:url(../images/bag.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin:20px;
}	
a{
	text-decoration: none;
	background:#111e27;
}

.first{
	margin:20px;
	padding:10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3,1fr) ;
	border:solid black;
	box-shadow:0 0 20px #9e9e9e;
	text-align:center;
	color:cad2b3;
}
.one {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}
.two {
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center;
	color:cad2b3;
}
.three {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}
.second{
	margin:20px;
	padding:10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3,1fr) ;
	border:solid black;
	box-shadow:0 0 20px #9e9e9e;
	flex-wrap:row;
	text-align:center
}	
.second-one {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}
.second-two {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}
.second-three {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}