body{ 
	background-image:url(../images/ruler.jpg);
}
.logo{
	background-image:url(../images/pololog.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin:20px;
}	
a{
	text-decoration: none;
	background:#111e27;
}

.bam{
	margin:20px;
	padding:10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3,1fr) ;
	border:solid black;
	box-shadow:0 0 20px #9e9e9e;
	text-align:center;
	color:cad2b3;
}
.b {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}
.a{
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center;
	color:cad2b3;
}
.m {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}
.gem{
	margin:20px;
	padding:10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3,1fr) ;
	border:solid black;
	box-shadow:0 0 20px #9e9e9e;
	flex-wrap:row;
	text-align:center
}	
.g{
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}
.e {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}
.m {
	color:cad2b3;
	padding:20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns:1fr,1fr,1fr;
	box-shadow:0 0 10px skyblue;
	border: black solid;
	text-align:center
}